<h2 class="title comment_edit_title">
  <%= t('views.common.title_edit', name: Comment.model_name.human) %>
</h2>

<%= render 'form', comment: @comment %>

<div class="actions">
  <%= button_to t('views.common.destroy'), polymorphic_url([@comment.writable, @comment]), method: :delete, data: { confirm: t('views.common.delete_confirm') }, class: "btn red_btn" %>
</div>
